<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title">
    <a>Estados</a>
    <hr />
  </mat-card-title>

  <mat-card-content>
    <div class="content">
      <table data-toggle="table" class="table table-striped table-hover">

        <thead>
          <th>Código</th>
          <th>País</th>
          <th>Descrição</th>
          <th>Sigla</th>
          <th>Ativo</th>
          <th>Ações</th>
        </thead>

        <tbody>
          <tr *ngFor="let row of estados">
            <td>{{row.id}}</td>
            <td>{{row.pais.descricao}}</td>
            <td>{{row.descricao}}</td>
            <td>{{row.sigla}}</td>
            <td>
              <mat-checkbox [checked]="row.ativo" disabled></mat-checkbox>
            </td>
            <td>
              <a class="edit-button" routerLink="/estados/update/{{row.id}}">
                <i class="material-icons"> edit </i>
              </a>
              <a class="delete-button" routerLink="/estados/delete/{{row.id}}">
                <i class="material-icons"> delete </i>
              </a>
            </td>
          </tr>
        </tbody>

      </table>

    </div>
  </mat-card-content>
  <mat-card-footer>
    <hr />
    <button class="buttons" mat-raised-button color="primary" (click)="create()">
      Novo Estado
    </button>
  </mat-card-footer>
</mat-card>